nav.site-nav {
  padding: 1rem 0;
  margin-bottom: 1rem;

  a {
    color: var(--dark);
    text-decoration: none;
    font-size: 0.85rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .twitter-link {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--gray);

    &:hover {
      color: var(--dark);
    }
  }
}
