nav.site-nav {
  padding: 1rem 0;
  margin-bottom: 1rem;

  a {
    color: var(--dark);
    text-decoration: none;
    font-size: 0.85rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
